* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0;
    font-family: 'Zilla Slab', serif;
    background-color: #F2A091;
}

.navbar {
    background-color: #F2A091;
}

.navbar-brand {
    padding-right: 100px;
    font-size: 30px;
}

.box {
    padding: 20px;
    border-style: solid;
}

